<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhaixun.persistence.BusinessMapper" >
  <resultMap id="BaseResultMap" type="com.cdhaixun.domain.Business" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="categoryid" property="categoryid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, name, createtime, isdelete,categoryid, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from business
    where id = #{id,jdbcType=INTEGER}
    and isdelete = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from business
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 假删除 将某条记录的isdelete置为1 -->
  <delete id="deleteByBusinessId" parameterType="java.lang.Integer" >
    update business
    set isdelete = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhaixun.domain.Business" >
    insert into business (id, name, createtime, 
      isdelete,categoryid, price)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{isdelete,jdbcType=BIT},#{categoryid}, #{price})
  </insert>
  <insert id="insertSelective" parameterType="com.cdhaixun.domain.Business" >
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="categoryid != null" >
        categoryid,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdhaixun.domain.Business" >
    update business
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="categoryid != null" >
        categoryid = #{categoryid},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.Business" >
    update business
    set name = #{name,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=BIT},
      categoryid=#{categoryid},
      price=#{price}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listBusiness" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from business
    where isdelete = 0
  </select>

  <select id="selectByBusiness" parameterType="com.cdhaixun.domain.Business" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from business
    <where>
      <if test="name != null" >
       and  name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null" >
       and createtime = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="isdelete != null" >
       and   isdelete = #{isdelete,jdbcType=BIT}
      </if>
      <if test="categoryid != null" >
        and categoryid = #{categoryid}
      </if>
    </where>
  </select>
  <select id="getBusinessInfoByStoreId" resultMap="BaseResultMap" parameterType="com.cdhaixun.domain.Business">
    SELECT b.id,b.name 
        FROM business b 
        WHERE b.id IN(
        SELECT businessid 
        FROM store_business 
        WHERE storeid = #{id,jdbcType=INTEGER}
        AND isopen = 1
        AND isdelete = 0 )
  </select>
  <select id="selectBusinessList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from business
    where isdelete = 0
  </select>
  
</mapper>