<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdhaixun.persistence.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.cdhaixun.domain.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, createtime, isdelete,pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listCategory" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where isdelete = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 根据id假删除 -->
  <delete id="deleteByCategory" parameterType="java.lang.Integer">
    update category
    set isdelete = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhaixun.domain.Category">
    insert into category (id, name, createtime, 
      isdelete,pic)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{isdelete,jdbcType=BIT},#{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdhaixun.domain.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdhaixun.domain.Category">
    update category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.Category">
    update category
    set name = #{name,jdbcType=VARCHAR},
    pic = #{pic,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByCategory"  parameterType="com.cdhaixun.domain.Category"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    <where>
      <if test="name != null">
      and   name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="pic != null">
        and   pic = #{pic,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null">
      and  createtime = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="isdelete != null">
      and   isdelete = #{isdelete,jdbcType=BIT}
      </if>
    </where>
  </select>
</mapper>