<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhaixun.persistence.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.cdhaixun.domain.Image" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="knowledgeid" property="knowledgeid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, knowledgeid, name, isdelete, source, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getList" resultType="com.cdhaixun.vo.ImageVo">
    SELECT
        i.id id,
        k.title title,
        i.`name` NAME,
        i.source source
    FROM
        image i
    INNER JOIN knowledge k ON i.knowledgeid = k.id
    WHERE
        i.isdelete = 0
    AND k.isdelete = 0
    AND k.state = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhaixun.domain.Image" useGeneratedKeys="true" keyProperty="id">
    insert into image (id, knowledgeid, name, 
      isdelete, source, sort)
    values (#{id,jdbcType=INTEGER}, #{knowledgeid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=BIT}, #{source,jdbcType=VARCHAR}, #{sort,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.Image" >
    update image
    <set >
      <if test="knowledgeid != null" >
        knowledgeid = #{knowledgeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByImage" resultMap="BaseResultMap" parameterType="com.cdhaixun.domain.Image" >
    select
    <include refid="Base_Column_List" />
    from image
<where>
  <if test="knowledgeid != null" >
   and  knowledgeid = #{knowledgeid,jdbcType=INTEGER}
  </if>
  <if test="name != null" >
  and  name = #{name,jdbcType=VARCHAR}
  </if>
  <if test="isdelete != null" >
   and  isdelete = #{isdelete,jdbcType=BIT}
  </if>
  <if test="source != null" >
   and  source = #{source,jdbcType=VARCHAR}
  </if>
  <if test="sort != null" >
  and   sort = #{sort,jdbcType=TINYINT}
  </if>
</where>
  </select>
</mapper>