<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhaixun.persistence.KnowledgeMapper" >
  <resultMap id="BaseResultMap" type="com.cdhaixun.domain.Knowledge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cdhaixun.domain.Knowledge" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, typeid, title, isdelete, sort, state
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from knowledge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findList" resultMap="ResultMapWithBLOBs" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from knowledge
    where isdelete = 0
    AND state = 1
  </select>
  <select id="getList" resultType="com.cdhaixun.vo.KnowledgeVo">
    SELECT
        k.id id,
        k.title title,
        k.state state,
        kt.typename typename
    FROM
        knowledge k,
        knowledge_type kt
    WHERE
        k.typeid = kt.id
    AND k.isdelete = 0
    AND kt.isdelete = 0
    AND kt.state = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from knowledge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhaixun.domain.Knowledge" useGeneratedKeys="true" keyProperty="id">
    insert into knowledge (id, typeid, title, 
      isdelete, sort, state, content
      )
    values (#{id,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=BIT}, #{sort,jdbcType=TINYINT}, #{state,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.Knowledge" >
    update knowledge
    <set >
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByKnowledge" resultMap="ResultMapWithBLOBs" parameterType="com.cdhaixun.domain.Knowledge">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from knowledge
   <where>
     <if test="typeid != null" >
     and  typeid = #{typeid,jdbcType=INTEGER}
     </if>
     <if test="title != null" >
       and title = #{title,jdbcType=VARCHAR}
     </if>
     <if test="isdelete != null" >
       and   isdelete = #{isdelete,jdbcType=BIT}
     </if>
     <if test="sort != null" >
       and sort = #{sort,jdbcType=TINYINT}
     </if>
     <if test="state != null" >
       and state = #{state,jdbcType=BIT}
     </if>
     <if test="content != null" >
       and content = #{content,jdbcType=LONGVARCHAR}
     </if>
   </where>
  </select>
</mapper>