<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdhaixun.persistence.PotionMapper">
  <resultMap id="BaseResultMap" type="com.cdhaixun.domain.Potion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="potioncategoryid" jdbcType="INTEGER" property="potioncategoryid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, potioncategoryid, name, price, createtime, isdelete, pic, detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from potion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findPotionList" parameterType="map" resultType="com.cdhaixun.vo.PotionVo">
    SELECT
      p.id,
      p.`name`,
      p.price,
      p.createtime,
      p.pic,
      p.detail,
      pc.`name` AS categoryName
  FROM
      potion p,
      potion_category pc
  WHERE
      p.potioncategoryid = pc.id
    AND p.isdelete = 0
    AND pc.isdelete = 0
    <if test="name != null and '' != name">
      AND p.`name` LIKE '%${name}%'
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from potion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhaixun.domain.Potion">
    insert into potion (id, potioncategoryid, name, 
      price, createtime, isdelete, 
      pic, detail)
    values (#{id,jdbcType=INTEGER}, #{potioncategoryid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT}, 
      #{pic,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.Potion">
    update potion
    <set>
      <if test="potioncategoryid != null">
        potioncategoryid = #{potioncategoryid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPotionCategory" parameterType="com.cdhaixun.domain.Potion"  resultType="com.cdhaixun.domain.Potion">
    select
    <include refid="Base_Column_List" />
    from potion
<where>
  <if test="potioncategoryid != null">
    and potioncategoryid = #{potioncategoryid,jdbcType=INTEGER}
  </if>
  <if test="name != null">
    and  name = #{name,jdbcType=VARCHAR}
  </if>
  <if test="price != null">
    and  price = #{price,jdbcType=DECIMAL}
  </if>
  <if test="createtime != null">
    and  createtime = #{createtime,jdbcType=TIMESTAMP}
  </if>
  <if test="isdelete != null">
    and isdelete = #{isdelete,jdbcType=BIT}
  </if>
  <if test="pic != null">
    and  pic = #{pic,jdbcType=VARCHAR}
  </if>
  <if test="detail != null">
    and detail = #{detail,jdbcType=VARCHAR}
  </if>
</where>
  </select>
</mapper>