<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhaixun.persistence.TimeBucketMapper">
    <resultMap id="BaseResultMap" type="com.cdhaixun.domain.TimeBucket">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="starttime" property="starttime" jdbcType="TIME"/>
        <result column="endtime" property="endtime" jdbcType="TIME"/>
        <result column="storeid" property="storeid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, starttime, endtime, storeid
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from timebucket
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from timebucket
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cdhaixun.domain.TimeBucket">
    insert into timebucket (id, starttime, endtime, 
      storeid)
    values (#{id,jdbcType=INTEGER}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, 
      #{storeid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.cdhaixun.domain.TimeBucket">
        insert into timebucket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="starttime != null">
                starttime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="storeid != null">
                storeid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIME},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIME},
            </if>
            <if test="storeid != null">
                #{storeid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cdhaixun.domain.TimeBucket">
        update timebucket
        <set>
            <if test="starttime != null">
                starttime = #{starttime,jdbcType=TIME},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=TIME},
            </if>
            <if test="storeid != null">
                storeid = #{storeid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.TimeBucket">
    update timebucket
    set starttime = #{starttime,jdbcType=TIME},
      endtime = #{endtime,jdbcType=TIME},
      storeid = #{storeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByTimeBucket" resultMap="BaseResultMap" parameterType="com.cdhaixun.domain.TimeBucket">
        select
        <include refid="Base_Column_List"/>
        from timebucket
        <where>
            <if test="starttime != null">
                and starttime = #{starttime,jdbcType=TIME},
            </if>
            <if test="endtime != null">
                and endtime = #{endtime,jdbcType=TIME},
            </if>
            <if test="storeid != null">
                and storeid = #{storeid,jdbcType=INTEGER},
            </if>
        </where>
    </select>
</mapper>