<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhaixun.persistence.UserTypeMapper" >
  <resultMap id="BaseResultMap" type="com.cdhaixun.domain.UserType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
    <result column="rebate" property="rebate" jdbcType="DECIMAL" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="chainstoreid" property="chainstoreid" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, typeName, rebate, points, state, chainstoreid, isdelete, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findUserTypeList" resultType="com.cdhaixun.vo.UserTypeListVo" parameterType="map">
    select
    u.id, u.typeName, u.rebate, u.points, u.state, u.chainstoreid, u.isdelete, u.createtime, c.name chainstoreName
    FROM
    user_type u,chain_store c
    WHERE
    u.state = 1
    AND u.isdelete = 0
    AND c.id = u.chainstoreid
    <if test="typename != null and '' != typename">
      AND u.typename LIKE '%${typename}%'
    </if>
  </select>
  <select id="getChainStoreList" resultType="com.cdhaixun.domain.ChainStore">
    select
    id,name
    FROM
    chain_store
    WHERE
    isdelete = 0
  </select>
  <select id="selectTypeList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    FROM
    user_type
    WHERE
    state = 1
    AND isdelete = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhaixun.domain.UserType" >
    insert into user_type (id, typeName, rebate, 
      points, state, chainstoreid, isdelete, createtime)
    values (#{id,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{rebate,jdbcType=DECIMAL}, 
      #{points,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{chainstoreid,jdbcType=INTEGER},
      #{isdelete,jdbcType=INTEGER}, #{createtime,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cdhaixun.domain.UserType" >
    update user_type
    <set >
      <if test="typename != null" >
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="rebate != null" >
        rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="chainstoreid != null" >
        chainstoreid = #{chainstoreid,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>